@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.card-image {
  width: 30px;
  height: auto;
}

.card-number {
  flex-basis: 50% !important;
}

@media (max-width: 600px) {
  .card-number {
    flex-basis: 30% !important;
  }
}
